Repository MozillaSecurity/FuzzManager, pull requests merged in 2020-06, with the labels that each got.

#617 Use the correct assignment for tool filter many-to-many field.
  server/crashmanager/views.py
Labels: bug, crashmanager

#610 Add taskmanager to INSTALLED_APPS by default.
  server/server/settings.py
  server/server/settings_test.py
Labels: taskmanager

#611 Catch more provider temporary errors.
  server/ec2spotmanager/CloudProvider/EC2SpotCloudProvider.py
  server/ec2spotmanager/CloudProvider/GCECloudProvider.py
Labels: ec2, gce, spotmanager

#612 More Python 3 fixes from server testing.
  server/ec2spotmanager/tasks.py
  server/ec2spotmanager/templates/config/edit.html
Labels: spotmanager

#618 [CrashManager] Fix another python2/3 problem with attaching crashdata
  server/crashmanager/Bugtracker/BugzillaProvider.py
Labels: bug, crashmanager

#619 Change shebang lines to python3 for standalone tools, remove it from …
  Collector/Collector.py
  CovReporter/CovReporter.py
  EC2Reporter/EC2Reporter.py
  FTB/ConfigurationFiles.py
  FTB/CoverageHelper.py
  FTB/ProgramConfiguration.py
  FTB/Running/AutoRunner.py
  FTB/Running/GDB.py
  FTB/Running/PersistentApplication.py
  FTB/Running/StreamCollector.py
  FTB/Running/WaitpidMonitor.py
  TaskStatusReporter/TaskStatusReporter.py
  misc/afl-libfuzzer/S3Manager.py
  misc/afl-libfuzzer/afl-libfuzzer-daemon.py
  server/manage.py
Labels: bug

#624 Add support for multi-line MOZ_CRASH messages
  FTB/AssertionHelper.py
  FTB/tests/test_AssertionHelper.py
Labels: FTB
