Repository MozillaSecurity/FuzzManager, pull requests merged in 2020-05, with the labels that each got.

#605 Fix taskcluster polling.
  server/taskmanager/cron.py
Labels: taskmanager

#607 Submit changes to lock parameters from live server testing
  server/ec2spotmanager/cron.py
Labels: spotmanager

#608 Fix testcase handling since migrating to Python 3.
  server/crashmanager/Bugtracker/BugzillaProvider.py
  server/crashmanager/templates/crashes/view.html
Labels: bugzilla, crashmanager

#614 [FTB] Parse generic crashes found on UBSan builds
  FTB/Signatures/CrashInfo.py
  FTB/Signatures/tests/test_CrashInfo.py
Labels: bug
