Repository MozillaSecurity/FuzzManager, pull requests merged in 2021-07, with the labels that each got.

#721 Add django-notifications package + Create notifications in commands called by cron jobs
  server/crashmanager/management/commands/bug_update_status.py
  server/crashmanager/management/commands/triage_new_crashes.py
  server/crashmanager/models.py
  server/crashmanager/tests/test_mgmt_bug_update_status.py
  server/crashmanager/tests/test_mgmt_triage_new_crashes.py
  server/requirements.txt
  server/requirements3.0.txt
  server/server/settings.py
Labels: Teklia

#723 Add an endpoint to list unread notifications + Add a Vue component to display those notifications
  server/crashmanager/serializers.py
  server/crashmanager/templates/inbox.html
  server/crashmanager/templates/shared/header.html
  server/crashmanager/tests/test_inbox_rest.py
  server/crashmanager/urls.py
  server/crashmanager/views.py
  server/frontend/src/api.js
  server/frontend/src/components/Notifications/BucketHit.vue
  server/frontend/src/components/Notifications/InaccessibleBug.vue
  server/frontend/src/components/Notifications/Inbox.vue
  server/frontend/src/main.js
Labels: Teklia

#724 Add ways to dismiss a notification and dismiss all notifications
  server/crashmanager/serializers.py
  server/crashmanager/tests/test_inbox_rest.py
  server/crashmanager/views.py
  server/frontend/src/api.js
  server/frontend/src/components/Notifications/BucketHit.vue
  server/frontend/src/components/Notifications/InaccessibleBug.vue
  server/frontend/src/components/Notifications/Inbox.vue
Labels: Teklia

#725 Add push Notification support and retrieve unread notifications count every 60s
  server/crashmanager/templates/layouts/layout_base.html
  server/crashmanager/templates/shared/header.html
  server/server/settings.py
  server/server/urls.py
Labels: Teklia

#735 Add an ACL exception for the notifications views.
  server/server/middleware.py
Labels: Teklia, bug, live-server

#745 Use an alternate legacy template base for CovManager and TaskManager
  server/covmanager/templates/collections/browse.html
  server/covmanager/templates/collections/index.html
  server/covmanager/templates/collections/patch.html
  server/covmanager/templates/collections/report.html
  server/covmanager/templates/reportconfigurations/index.html
  server/covmanager/templates/reportconfigurations/summary.html
  server/crashmanager/templates/layouts/layout_base.html
  server/crashmanager/templates/layouts/layout_old.html
  server/taskmanager/templates/pool/index.html
  server/taskmanager/templates/pool/view.html
Labels: bug, covmanager, taskmanager

#744 Add signatures view pagination.
  server/frontend/src/components/Signatures/List.vue
Labels: crashmanager, enhancement

#748 Add sort on all signature columns.
  server/crashmanager/serializers.py
  server/crashmanager/tests/test_signatures_rest.py
  server/crashmanager/views.py
  server/frontend/src/components/Signatures/List.vue
  server/frontend/src/components/Signatures/Row.vue
Labels: crashmanager, enhancement

#751 Provide optimized signature when hitting 'Edit With Changes' button
  server/crashmanager/views.py
  server/frontend/src/components/Signatures/CreateOrEdit.vue
Labels: Teklia, bug, live-server

#758 Properly pass String attributes to CreateOrEdit vue component
  server/crashmanager/templates/signatures/edit.html
Labels: Teklia, bug, live-server

#752 Display loading hints during Signature Edition, Creation or Preview
  server/frontend/src/components/Signatures/CreateOrEdit.vue
Labels: Teklia, bug, live-server

#756 Fix binary testcases loading/encoding on browser side
  server/frontend/src/api.js
  server/frontend/src/components/Bugs/Comments/PublicationForm.vue
  server/frontend/src/components/Bugs/PublicationForm.vue
Labels: Teklia, bug

#760 Redirect /crashmanager to /crashmanager/crashes
  server/crashmanager/urls.py
  server/crashmanager/views.py
Labels: crashmanager

#761 Add support for overriding `.fuzzmanagerconf`
  Reporter/Reporter.py
Labels: FTB
