Repository MozillaSecurity/FuzzManager, pull requests merged in 2024-04, with the labels that each got.

#972 Add report.tag to REST interface
  server/covmanager/serializers.py
Labels: covmanager

#974 Fix "aggregation" of single collection
  server/covmanager/tasks.py
Labels: bug, covmanager

#976 Allow setting an alternative root by tag for coverage graph
  server/covmanager/templates/collections/report.html
  server/covmanager/templates/reportconfigurations/summary.html
Labels: enhancement, covmanager
