Repository MozillaSecurity/FuzzManager, pull requests merged in 2025-06, with the labels that each got.

#1099 Add support for brk instruction on ARM64
  FTB/Signatures/CrashInfo.py
Labels: enhancement

#1102 Update test fixture
  server/taskmanager/tests/fixtures/pool1/pool1.yml
Labels: taskmanager

#1103 Remove unmaintained sanitizer log parser in AutoRunner
  Collector/Collector.py
  FTB/Running/AutoRunner.py
Labels: bug, FTB
